span{
    border: 2px solid rgb(225, 225, 225);
    border-radius: 10px;
    line-height: 67px;
    text-align: center;
    display: inline-block;
    height: 70px;
    font-size: 2vw;
    margin: auto;
    font-family: 'font';
    font-weight: 500;
    color: white;
    transition: background-color 70ms linear;
}

span:hover{
    color: white;
    background-color: #00274b;
}

span:active{
    color: white;
    background-color: #ff0010;
}

#keyboardContainer{
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
}

#reformatPls{
    position: absolute;
    top: 46%;
    left: 8%;
    font-size:4vw;
    color: white;
    text-align: center;
}

#firstRow, #secondRow, #thirdRow, #fourthRow, #fifthRow{
    padding: 10px;
    margin: auto;
}

.squareKey{
    width: 70px;
}

#text{
    /* border-bottom: 2px solid rgb(225, 225, 225); */
    height: 50px;
    margin: 120px auto 300px;
    width: 80%;
    text-align: center;
}

#textbox{
    width: 95%;
    height: 10em;
    background-color: #004c94;
    border: none;
    font-size: 2rem;
    color: #ff0010;
    font-family: 'font';
    resize: none;
}

#textbox::-webkit-scrollbar{
    display: none;
}

#textbox:focus{
    outline: none;
}

.backKey{
    width: 160px;
}

.capsKey, .backSlashKey, .tabKey{
    width: 100px;
}

.enterKey{
    width: 130px;
}

.shiftKey{
    width: 150px;
}

.spaceBar{
    width: 500px;
    text-align: center;
    margin: auto;
}

html, #body{
    background-color: #004c94;
}

.selected{
    background-color: #530027;
}

.shiftPerm{
    font-weight: 700;
    text-decoration: underline;
}

.click{
    color: white;
    background-color: black;
}

.hover{
    color: white;
    background-color: rgb(225, 225, 225);
}

.keyboard{
    color: white;
    background-color: #d4000e;
}

@font-face{
    font-family: 'font';
    src: url(OpenSansCondensed-Light.ttf);
}